In [1]:
import pandas as pd

In [5]:
india_w=pd.DataFrame({
    "city":["delhi","patna","mumbai"],
     "temperatue":[29,14,45],
    "humidity":[89,90,100]})

In [6]:
us_w=pd.DataFrame({
    "city":["newyork","canada","italy"],
     "temperatue":[10,12,13],
    "humidity":[81,92,93]})

In [12]:
df=pd.concat([india_w,us_w],keys=["india","Outside"])
df

              city  temperatue  humidity
india   0    delhi          29        89
        1    patna          14        90
        2   mumbai          45       100
Outside 0  newyork          10        81
        1   canada          12        92
        2    italy          13        93

In [14]:
df.loc["Outside"]

      city  temperatue  humidity
0  newyork          10        81
1   canada          12        92
2    italy          13        93

In [23]:
china_w=pd.DataFrame({"city":["delhi","patna","mumbai"],
                      "windspeed":[12,13,14]},index=[0,1,2])

In [24]:
df=pd.concat([india_w,china_w],axis=1)
df

     city  temperatue  humidity    city  windspeed
0   delhi          29        89   delhi         12
1   patna          14        90   patna         13
2  mumbai          45       100  mumbai         14